/*                                 LOADING ANIMATION */

.spinner {
  width: 10em;
  height: 10em;
  border-top: 1em solid #6da9f5;
  border-right: 1em solid transparent;
  border-radius: 50%;
  margin: auto;
  animation: spinner 0.6s linear infinite;
}
.head {
  width: 1em;
  height: 1em;
  background-color: #6da9f5;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
}
@keyframes spinner {
  100% { transform: rotate(360deg) }
}

/*                                 COOKIE MESSAGE */

.cookie-message {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border-radius: 10px;
    padding: 15px 0;
    background: #f7f8fb;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 16px 2px rgba(0,0,0,.05), 0 10px 10px 2px rgba(0,0,0,.05);
    font-size: 12px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    z-index: 100;
    bottom: 10%;
    right: 2%;
    margin: auto;
    max-width: 540px;
    display: -ms-flexbox;
    display: flex;
}
.cookie-message img {
    height: 50px;
    width: 50px;
    margin: 0 15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.cookie-message span {
    display: inline-block;
    line-height: 1.5;
    padding-right: 16px;
    border-right: 1px solid rgba(0,0,0,.1);
}
.cookie-message a.close {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: none;
    font-size: 24px;
    padding: 0 20px 0 16px;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #919191;
    transition: color 0.2s;
}
.cookie-message a.close:hover { color: #795548; }
.cookie-message a {
    display: inline-block;
    color: red;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.close {
  cursor: pointer;
}

/*                                 NAVBAR */

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.7vw;
  transition: 0.5s;
}

li a:hover:not(.active) {
  color: #aaaaaa;
}
