<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/static?file=images/icon.png">
  <link rel="stylesheet" href="/static?file=css/home.css">
  <link rel="stylesheet" href="/static?file=css/website-wide.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha512-HaoDYc3PGduguBWOSToNc0AWGHBi2Y432Ssp3wNIdlOzrunCtB2qq6FrhtPbo+PlbvRbyi86dr5VQx61eg/daQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js" integrity="sha512-HYG9E+RmbXS7oy529Nk8byKFw5jqM3R1zzvoV2JnltsIGkK/AhZSzciYCNxDMOXEbYO9w6MJ6SpuYgm5PJPpeQ==" crossorigin="anonymous"></script>
  <script src="/static?file=js/home.js"></script>
  <script src="/static?file=js/website-wide.js"></script>
  <title>Dank Utilities - Home</title>
</head>
<body>
  <ul class="homeul">
    <li><a class="linkcog" href="/settings"><i class="fas fa-cog"></i></a></li>
  </ul>
  <div class="content">
    <div class="top">
      <section class="intro">
        <p class="introhead">presenting</p>
        <p class="nametitle">Dank Utilities</p>
        <p class="introtext">The <strong>only</strong> bot you will <strong>ever need</strong> when<br>running a dank memer discord server!</p><br>
        <a href="/login" class="introbutton">Get started</a><a href="#features" class="introbutton">Features</a>
      </section>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path class="wave" fill="#00ffff" fill-opacity="1" d="M0,96L40,128C80,160,160,224,240,218.7C320,213,400,139,480,133.3C560,128,640,192,720,197.3C800,203,880,149,960,122.7C1040,96,1120,96,1200,90.7C1280,85,1360,75,1400,69.3L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
    </svg>
    <div class="lower">
      <section id="features">
        <p class="featurehead">My features</p><br>
        <div class="featureboxs">
          <div class="featurebox fb1">
            <p class="featureboxtitle">Dank memer tools</p><br>
            <p class="featureboxsubtitle">Host heists, Shop sales, and loads more!</p>
          </div>
          <div class="featurebox fb2">
            <p class="featureboxtitle">Antiraid</p><br>
            <p class="featureboxsubtitle">Stop bot raids with an easy command!</p>
          </div>
          <div class="featurebox fb3">
            <p class="featureboxtitle">Support</p><br>
            <p class="featureboxsubtitle">Get help anytime with support from our team!</p>
          </div>
        </div>
        <p class="invitehead">Why are you still here?</p><br>
        <a href="/login" class="invitebutton">Invite</a>
      </section>
    </div>
  </div>
  <div style="display: none;" class="cookie-message" id="cookie">
    <img src="https://img.icons8.com/plasticine/100/000000/cookie.png">
    <span>We use cookies to provide you the best possible experience. But don't panic - we won't share any of your data. You can find more informations about our cookies <a target="_blank" href="https://www.cookiepolicygenerator.com/live.php?token=VXucr9qgRLHaCDNBGxTprmzR0JLu6aUd">here</a>.</span>
    <a class="close" onclick="close_cookie_message()"><i class="fa fa-times"></i></a>
  </div>
</body>
</html>
